# Dependencies
node_modules/
**/node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Turbo
.turbo
**/.turbo/

# Testing
coverage/
**/coverage/

# Build outputs
dist/
**/dist/
build/
**/build/
out/
**/out/

# Next.js
.next/
**/.next/
**/.next/**/*
**/out/
next-env.d.ts
**/.next/cache/**

# Webpack related
**/*.hot-update.*
**/.webpack/
**/.serverless/

# Environment variables
.env*
**/.env*
!.env.example
!**/.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
**/logs/
*.log

# OS files
.DS_Store
**/.DS_Store
*.pem
Thumbs.db

# IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
**/.idea/
*.swp
*.swo
*.sublime-*
.project
.classpath

# TypeScript
*.tsbuildinfo
**/*.tsbuildinfo

# Vercel
.vercel
**/.vercel

# Misc - caches and temporary files
.cache/
**/.cache/
.temp/
**/.temp/
tmp/
**/tmp/

# Specific to monorepo structure (adjust as needed)
apps/*/.next/
apps/*/.next/cache/
apps/*/.next/static/
apps/*/*cache*/
packages/*/dist/
packages/*/build/

# Package files
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml